{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block body %}
<div class='d-flex flex-column justify-content-center container text-center mt-5'>
    <h1 class='mb-3 fw-bold m-3 text-white'>{{ user.username }}님의 프로필</h1>

    <!-- Follow -->
    <p class="text-white"><span class="text-white">Follow</span> {{ user.followings.count }} | Follower {{ user.followers.count }}</p>
    {% if request.user != user %}
    <a href="{% url 'accounts:follow' user.pk %}" class="text-white text-decoration-none">
        {% if request.user in user.followers.all %}
            <button class="btn btn-outline-light m-2" type="button">
                팔로우 취소
            </button>
        {% else %}
            <button class="btn btn-primary m-2" type="button">
                팔로우
            </button>
        {% endif %}
    </a>
    {% endif %}

    <p class="text-white">name: {{ user.username }}</p>
    <p class="text-white">email: {{ user.email}}</p>
</div>

<!-- 사용자가 쓴 글 목록 -->
<div class='d-flex flex-column justify-content-center container mt-5'>
    <h3 class="text-white">작성한 글</h3>
    <p class="text-white">{{ user.article_set.count }}개의 게시글을 작성하였습니다.</p>
    {% for article in user.article_set.all %}
    <p>
        {{ forloop.counter }}
        <a href="{% url 'articles:detail' article.pk %}">{{ article.title }}</a>
    </p>
    {% endfor %}
</div>

<!-- 사용자가 쓴 댓글 목록 -->
<div class='d-flex flex-column justify-content-center container mt-5'>
    <h3 class="text-white">작성한 댓글</h3>
    <p class="text-white">{{ user.comment_set.count }}개의 댓글을 작성하였습니다.</p>
    {% for comment in user.comment_set.all %}
    <p class="text-white">
        {{ forloop.counter }}
        <a class="text-white text-decoration-none" href="{% url 'articles:detail' comment.article_id %}">{{ comment.content }}</a>
    </p>
    {% endfor %}
</div>

<div class='d-flex justify-content-center container container mt-5'>
    <button class="btn btn-outline-light m-2" type="button" onclick="location.href='{% url 'accounts:index' %}'">
        BACK
    </button>
    <button class="btn btn-primary m-2" type="button" onclick="location.href='{% url 'accounts:update' %}'">
        Update Profile
    </button>

</div>
{% endblock body %}