{% extends 'base.html' %}

{% block body %}
<div class='d-flex flex-column justify-content-center container'>
  <div class='container text-center m-5'>
    <table class='table'>
      <thead>
        <tr>
          <th class='text-white' scope='col'>#</th>
          <th class='text-white' scope='col'>username</th>
          <th class='text-white' scope='col'>email</th>
        </tr>
      </thead>
      <tbody>
        {% for member in members %}
          <tr>
            <th class='text-white' scope='row'>{{ member.id }}</th>
            <td>
              <a class='text-white text-decoration-none' href='{% url 'accounts:detail' member.pk %}'>{{ member.username }}</a>
            </td>
            <td class='text-white'>{{ member.email }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock body %}