@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

* {
  box-sizing: border-box;
}

body {
  height: 10000px;
  font-family: 'Noto Sans KR', sans-serif;
  min-width: 1280px;
  color: #333333;
  position: relative;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  padding: 2rem;
  height: 50px;
  background-color: white;
}

.nav-list {
  display: flex;
  list-style: none;
}

.nav-link {
  text-decoration: none;
  color: black;
}

.nav-item {
  margin: 0 10px;
}

.card {
  display: flex;
  align-items: center;
  width: 1280px;
  margin: 0 auto;
}

.img-main {
  background-image: url(../assets/apparel.jpeg);
  width: 100%;
  height: 700px;
  margin: 20px;
  background-repeat: no-repeat;
  background-size: cover;
}

.img-sub {
  width: 25rem;
  height: 20rem;
  margin: 20px;
  border-radius: 1rem;
  float: left;
}

.about-title {
  text-align: center;
  font-size: 1.5em;
}

.about-text {
  margin-top: 2rem;
  line-height: 2;
}
.more-text {
  text-align: center;
  font-size: 1.5em;
  margin: 3rem;
}
.more-card {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 1280px;
  margin: 0 auto;
  position: relative;
}

.more-eachcard {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  width: 1280px;
  margin: 0 auto;
  line-height: 2;
  
}

.more-img {
  width: 64px;
  height: 64px;
}

/* 추후에 sticky로 변경! */
.top-btn {
  position: absolute;
  bottom: 50px;
  right: 50px;
  width: 50px;
  height: 8560px;
}

/* Products */

.pro-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  margin: 0 20rem;
}

.each-card {
  display: flex;
  flex-direction: column;
  width: 350px;
  margin: 0 auto;
  line-height: 2;
  border: 1px solid black;
  margin: 10px;
  padding: 10px;
}

.card-img {
  background-image: url(../assets/yulia-gadalina-l0ascMtIQSw-unsplash.jpg);
  width: 100%;
  height: 8rem;
}

.card-title {
  text-align: center;
  font-size: 20px;
}

.card-caption {
  text-align: left;
  line-height: 1.5;
  margin: 5px;
}